accelerate==0.27.2
bitsandbytes==0.43.0
datasets==2.18.0
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.31
langchain-experimental==0.0.54
langchain-text-splitters==0.0.1
peft==0.10.0
transformers==4.38.2
trl==0.7.11
wikipedia==1.4.0